body,html{
    background-color: rgb(149, 185, 243);
}

.header{
    background-color:darkblue;
    height:30px;
    width:50vw;
    margin:auto;
    margin-top:20px;
}

.menu{
    background-color: rgb(62, 179, 247);
    height:30px;
    width:5vw;
    margin-left:615px;
}

.container{
    background-color:rgb(58,97,187);
    height:400px;
    width:50vw;
    margin:auto;
}

.download_tab{
    background-color: rgb(102, 102, 226);
    height:30px;
    width:30vw;
    margin:auto;
}

.container_1{
    background-color:rgb(21,12,146);
    height:300px;
    width:40vw;
    margin:auto;
    margin-top:10px;
}

.container_2{
    background-color:rgb(21,12,146);
    height:300px;
    width:40vw;
    margin:auto;
    margin-top:10px;
}

.container_3{
    background-color:rgb(21,12,146);
    height:300px;
    width:40vw;
    margin:auto;
    margin-top:10px;
}

.container_4{
    background-color:rgb(21,12,146);
    height:300px;
    width:40vw;
    margin:auto;
    margin-top:10px;
}

.container_5{
    background-color:rgb(21,12,146);
    height:300px;
    width:40vw;
    margin:auto;
    margin-top:10px;
}

.container_6{
    background-color:rgb(21,12,146);
    height:300px;
    width:40vw;
    margin:auto;
    margin-top:10px;
}

.container_7{
    background-color:rgb(21,12,146);
    height:300px;
    width:40vw;
    margin:auto;
    margin-top:10px;
}

.container_8{
    background-color:rgb(21,12,146);
    height:300px;
    width:40vw;
    margin:auto;
    margin-top:10px;
}

.container_9{
    background-color:rgb(21,12,146);
    height:300px;
    width:40vw;
    margin:auto;
    margin-top:10px;
}

.container_10{
    background-color:rgb(21,12,146);
    height:300px;
    width:40vw;
    margin:auto;
    margin-top:10px;
}

.container_11{
    background-color:rgb(21,12,146);
    height:300px;
    width:40vw;
    margin:auto;
    margin-top:10px;
}
