body,html{
    background-color: violet;
}

.header{
    background-color:rgb(133, 28, 72);
    height:30px;
    width:20vw;
    margin:right;
}

.search{
    background-color: rgb(133, 28, 72);
    height:30px;
    width:5vw;
    margin-left:auto;
}

.thumbnails{
    width:75vw;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 120px;
    grid-column-gap: 150px;
    grid-row-gap: 2em;
    margin: auto;
    margin-top: 30px;
}

.title{
    background-color: rgb(133, 28, 72);
    height:200px;
}

.footer{
    background-color: rgb(133, 28, 72);
    height:110px;
    width:100vw;
    margin:auto;
    margin-top:40px;
}