body,html{
    background-color: rgb(165, 125, 161);
}

.header{
    background-color: rgb(114,80,117);
    height:90px;
    width:100vw;
    margin:auto;
}

.title_image{
    background-color: rgb(114,80,117);
    height:800px;
    width:60vw;
    margin:auto;
    margin-top:70px;
}

.text{
    background-color: rgb(114,80,117);
    height:70px;
    width:50vw;
    margin:auto;
    margin-top:20px;
}

.pack_columns{
    width:35vw;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-column-gap: 1em;
    margin:auto;
    margin-top:50px;
}

.pack{
    background-color: rgb(114,80,117);
    height:45px;
}

.title{
    background-color: rgb(114,80,117);
    height:40px;
    width:70vw;
    margin:auto;
    margin-top:30px;
}

.subtext{
    background-color: rgb(114,80,117);
    height:45px;
    width:75vw;
    margin:auto;
    margin-top:10px;
}

.containers{
    width:50vw;
    display:grid;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 2em;
    margin:auto;
    margin-top: 20px;
}

.image_title{
    background-color: rgb(114,80,117);
    height:500px;
}

.image_box{
    background-color: rgb(114,80,117);
    height:300px;
    width:60vw;
    margin:auto;
    margin-top: 200px;
}

.end_titles{
    width:40vw;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    grid-column-gap:3em;
    margin:auto;
    margin-top:50px;
}

.box{
    background-color: rgb(114,80,117);
    height:40px;
}

.footer{
    background-color: rgb(114,80,117);
    height:90px;
    width:100vw;
    margin:auto;
    margin-top:20px;
}